head
  title Agilearning Math

body
  hr
  h2 Try Latex and Markdown
  +loginButtons
  hr
  +problemCreator

template(name="problemCreator")
  hr
  +problemPreview
  hr
  +quickForm id="mathProblem" schema="MathProblemsSchema" type="method" meteormethod="createProblem" 
  hr
  
template(name="problemPreview")
  +mathjax
    +markdown
     {{previewProblem}}
  
  input.previewBtn.btn.btn-default(value="Preview")

  