head
  title Agilearning Math

body
  hr
  h2 Try Latex and Markdown
  +loginButtons
  hr
  +tryMarked

template(name="tryMarked")
  textarea.tryIt
  hr
  h2 Show:
  +mathjax
    +markdown
     {{tryIt}}