head
  title Agilearning Math

body
  h2 Agilearning Math 1234
  +tryMarked

template(name="tryMarked")
  +markdown
    {{testMarkdown}}
  +mathjax
    .test
      {{testLaTex}}
  .test
    +mathjax
      +markdown
        {{testMarkdownLatex}}
